<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" ></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/style.css}">


  <title>Accueil</title>
</head>
<body>
<header class="bannière">

  <div class="lingoRingo">
    <a th:href="@{/forumsMembre}">
      <img id="logoRingo" th:src="@{/logoRingo.png}" alt="Lingo Ringo">
    </a>
  </div>

  <div class="optionsBannière">
    <div><img class="imgEntete" th:src="@{'/utilisateurs/' + ${session.photo_profile}}" alt="Photo de profil"></div> <!--reglerr le css-->
    <div><span id="entetee" th:if="${session}!=null" class="text-white text-center">[[${session['nomUtilisateur']}]]</span></div>
    <div><a id="entetee" th:href="@{/gestionAmisMembre}">Amis  </a></div>
    <div><a id="entetee" th:href="@{'/utilisateurs/edit/' + ${session.id}}">Profil</a></div>
    <div><a id="entetee" th:href="@{/deconnexion}">Deconnexion</a></div>
  </div>
</header>

<div class="searchBar">
  <form th:action="@{/forumsMembre/titre}" method="get">
    <input type="text" name="titre" placeholder="Rechercher par titre">
    <button class="btnRecherche" type="submit">Rechercher</button>
  </form>

  <form th:action="@{/forumsMembre/langue}" method="get">
    <select name="langue">
      <option value="Francais">Français</option>
      <option value="Anglais">Anglais</option>
      <option value="Espagnol">Espagnol</option>
      <option value="Japonais">Japonais</option>
      <option value="Allemand">Allemand</option>
      <option value="Portugais">Portugais</option>
      <option value="Italien">Italien</option>
    </select>
    <button class="btnRecherche" type="submit">Filtrer</button>
  </form>

  <form th:action="@{/forumsMembre/interets}" method="get">
    <select name="interets">
      <option value="Apprentissages et connaissances">Apprentissages et connaissances</option>
      <option value="Automobile et mécanique">Automobile et mécanique</option>
      <option value="Animaux et insectes">Animaux et insectes</option>
      <option value="Sports">Sports</option>
      <option value="Japanimation">Japanimation</option>
      <option value="Arts et Lettres">Arts et Lettres</option>
      <option value="K-pop">K-pop</option>
      <option value="Musique">Musique</option>
      <option value="Religion et spiritualite">Religion et spiritualite</option>
    </select>
    <button class="btnRecherche" type="submit">Filtrer</button>
  </form>

  <button class="btnRecherche" th:onclick="'window.location.href=\'' + @{/forumsMembre/new} + '\''">Créer un Forum</button>
</div>

<div><h1 style="text-align: center; margin-top: 5%; font-size: 75px; color: white;font-family: 'Zen Dots';">Accueil</h1></div>
<div><h3 style="text-align:center; margin-top: 3%;color: white; font-size: 30px;margin-right: 0%; margin-bottom: 1%;font-family: 'Zen Dots';">Forums Publiques</h3></div>
<div th:if="${message!=null}" class="alert alert-success text-center">
  [[${message}]]
</div>

<div class="ConteneurForums">
  <div class="Forums">
    <div class="InformationsForums">


      <th:block th:each="forum : ${listForums}">
        <div class="labelForums" style="margin-bottom:5px">
          <br><label class="unForom" for="labelNomForum" id="labelNomForum">Nom du forum : <span th:text="${forum.titre_forum}"></span></label>
          <br><label class="unForom" for="langueForum" id="langueForum">Langue du forum : <span th:text="${forum.langue}"></span></label>
          <br><label class="unForom"  for="labelInteret" id="labelInteret">Intérêt du forum : <span th:text="${forum.interets_culturels}"></span></label>
          <br>
          <div class="iconSuppEtAcceder">
            <a th:href="'/forums/' + ${forum.id_forum}" title="Entrer dans le forum" class="icon-spacing"><i class="fa-solid fa-right-to-bracket" ></i></a> <!--Utiliser le controller de Jacob -->
          </div>
        </div>
      </th:block>


      <th:block th:if="${#lists.isEmpty(listForums)}">
        <h2>Aucun Forum Disponible</h2>
      </th:block>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="footer-content">
    <span>Collège de Rosemont - Équipe 7</span>
    <div class="social-icons">
      <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
</footer>

</body>
</html>
