<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">

    <title>Connexion</title>

</head>
<body>
<header class="bannière">

    <div class="lingoRingo">
        <a th:href="@{/forums}">
            <img id="logoRingo" th:src="@{/logoRingo.png}" alt="Lingo Ringo">
        </a>
    </div>

    <div class="optionsBannière">
        <div><a id="entetee" th:href="@{/forums}">Accès invité</a></div>
        <div><a id="entetee" th:href="@{/users/new}">S'inscrire</a></div>
    </div>
</header>

<div class="content">
    <div class="connexion-utilisateur">
        <div th:if="${message}">
            <div class="alertConnexioune" th:text="${message}"></div>
        </div>
        <div th:if="${errorMessage}">
            <div class="alertConnexioune" th:text="${errorMessage}"></div>
        </div>
        <form th:action="@{/connexion/conecter}" method="post">
            <input type="email" name="email" placeholder="Email" required class="emailCo">
            <input type="password" name="motDePasse" placeholder="Mot de passe" required class="mdpCo">
            <div class="seSouvenir">
                <input type="checkbox" name="seSouvenir">
                <label for="seSouvenir">Se souvenir de moi</label>
            </div>
            <button type="submit" class="btnConnexion">Connexion</button>
        </form>

    </div>
</div>



<footer class="footer">
    <div class="footer-content">
        <span>Collège de Rosemont - Équipe 7</span>
        <div class="social-icons">
            <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</footer>
</body>
</html>
